<div class="app-container">
  <!-- Contenido de cada pagina -->
  <ng-container *ngIf="showSharedComponents">
    <!-- Hoja principal -->
    <div class="content-wrapper">
      <!-- Fondo -->
      <div class="background"></div>

      <!-- Menú lateral -->
      <app-side-menu></app-side-menu>
      
      <!-- Contenido principal -->
      <router-outlet></router-outlet>

      <!-- Componentes compartidos (excepto el menú lateral) -->
      <div class="shared-components-wrapper">
        <app-previous-page></app-previous-page>
        <app-home-button></app-home-button>
        <app-next-page></app-next-page>
      </div>

      <app-scroll-to-top></app-scroll-to-top>
      <app-scroll-to-bottom></app-scroll-to-bottom>

    </div>
  </ng-container>

  <!-- Contenido de home -->
  <ng-container *ngIf="!showSharedComponents">
    <div class="home-content">
      <!-- Contenido principal -->
      <router-outlet></router-outlet>
    </div>
  </ng-container>
</div>