<div class="app-container">
  <ng-container *ngIf="showSharedComponents">
    <!-- Hoja principal -->
    <div class="content-wrapper">
      <!-- Fondo -->
      <div class="background"></div>

      <!-- Menú lateral -->
      <div class="side-menu">
        <app-side-menu></app-side-menu>
      </div>

      <!-- Contenido principal -->
      <router-outlet></router-outlet>

      <!-- Componentes compartidos (excepto el menú lateral) -->
      <app-scroll-to-top></app-scroll-to-top>
      <app-scroll-to-bottom></app-scroll-to-bottom>
      <app-previous-page></app-previous-page>
      <app-next-page></app-next-page>
    </div>
  </ng-container>

  <ng-container *ngIf="!showSharedComponents">
    <div class="page-content">
      <!-- Contenido principal -->
      <router-outlet></router-outlet>
    </div>
  </ng-container>
</div>