<nav>
    <ul>
        <li>
            <a routerLink="/intro/1" routerLinkActive="active-link">Titulo Intro</a>

            <ul>
                <li><a routerLink="/intro/2" routerLinkActive="active-link">Página de Introducción 1</a></li>
            </ul>
        </li>

        <li>
            <a routerLink="/tutorial/1" routerLinkActive="active-link">Titulo Tutorial</a>

            <ul>
                <li><a routerLink="/tutorial/2" routerLinkActive="active-link">Tutorial Página 1</a></li>
            </ul>
        </li>

        <li>
            <a routerLink="/ejemplos/1" routerLinkActive="active-link">Titulo Ejemplos</a>

            <ul>
                <li><a routerLink="/ejemplos/2" routerLinkActive="active-link">Ejemplos Página 1</a></li>
            </ul>
        </li>
    </ul>
  </nav>  