<nav>
    <ul>
        <li>
            <a routerLink="/nivel1/intro" routerLinkActive="active-link">Nivel Principiante</a>
            
            <ul>
                <li><a routerLink="/nivel1/1" routerLinkActive="active-link">Historia de Angular</a></li>
            </ul>

            <ul>
                <li><a routerLink="/nivel1/2" routerLinkActive="active-link">Instalación de Angular</a></li>
            </ul>

            <ul>
                <li><a routerLink="/nivel1/3" routerLinkActive="active-link">Creación de un Proyecto Angular</a></li>
            </ul>

            <ul>
                <li><a routerLink="/nivel1/4" routerLinkActive="active-link">Estructura de un Proyecto Angular</a></li>
            </ul>

            <ul>
                <li><a routerLink="/nivel1/5" routerLinkActive="active-link">Primer Componente en Angular</a></li>
            </ul>

            <ul>
                <li><a routerLink="/nivel1/6" routerLinkActive="active-link">Binding de Datos en Angular</a></li>
            </ul>
        </li>

        <li>
            <a routerLink="/nivel2/intro" routerLinkActive="active-link">Nivel Intermedio</a>
            
            <ul>
                <li><a routerLink="/nivel2/1" routerLinkActive="active-link">Servicios y Dependencias en Angular</a></li>
            </ul>

            <ul>
                <li><a routerLink="/nivel2/2" routerLinkActive="active-link">Rutas en Angular</a></li>
            </ul>

            <ul>
                <li><a routerLink="/nivel2/3" routerLinkActive="active-link">Comunicación entre Componentes</a></li>
            </ul>

            <ul>
                <li><a routerLink="/nivel2/4" routerLinkActive="active-link">Consumo de APIs con HttpClient</a></li>
            </ul>

            <ul>
                <li><a routerLink="/nivel2/5" routerLinkActive="active-link">Formularios en Angular</a></li>
            </ul>

            <ul>
                <li><a routerLink="/nivel2/6" routerLinkActive="active-link">Directivas en Angular</a></li>
            </ul>

            <ul>
                <li><a routerLink="/nivel2/7" routerLinkActive="active-link">Pipes en Angular</a></li>
            </ul>
        </li>

        <li>
            <a routerLink="/nivel3/intro" routerLinkActive="active-link">Nivel Avanzado</a>
            
            <ul>
                <li><a routerLink="/nivel3/1" routerLinkActive="active-link">Gestión de Estado con NgRx</a></li>
            </ul>

            <ul>
                <li><a routerLink="/nivel3/2" routerLinkActive="active-link">Testing en Angular</a></li>
            </ul>

            <ul>
                <li><a routerLink="/nivel3/3" routerLinkActive="active-link">Optimización y Desempeño</a></li>
            </ul>

            <ul>
                <li><a routerLink="/nivel3/4" routerLinkActive="active-link">Autenticación y Autorización</a></li>
            </ul>

            <ul>
                <li><a routerLink="/nivel3/5" routerLinkActive="active-link">Despliegue de Aplicaciones Angular</a></li>
            </ul>

            <ul>
                <li><a routerLink="/nivel3/6" routerLinkActive="active-link">Migración y Actualización de Angular</a></li>
            </ul>
        </li>
    </ul>
  </nav>  