<div class="background"></div>

<div class="container">
  <h1>Bienvenido al Tutorial de Angular</h1>

  <p>
    Este tutorial está dividido en 20 páginas que abarcan desde la historia de Angular
    <br>
    hasta la creación y despliegue de aplicaciones complejas.
  </p>
    
  <p>Elige tu nivel:</p>

  <ul>
    <li (mouseenter)="showDescription(1)" (mouseleave)="hideDescription()">
      <a routerLink="/nivel1/intro">Nivel 1. Principiante</a>
    </li>
    <li (mouseenter)="showDescription(2)" (mouseleave)="hideDescription()">
      <a routerLink="/nivel2/intro">Nivel 2. Intermedio</a>
    </li>
    <li (mouseenter)="showDescription(3)" (mouseleave)="hideDescription()">
      <a routerLink="/nivel2/intro">Nivel 3. Avanzado</a>
    </li>
  </ul>

  <!-- Descripción de los niveles -->
  <div class="level-info" id="level-1">
    Introducción a los conceptos básicos y configuración inicial de Angular, abarcando desde la instalación hasta la creación y estructura de proyectos básicos, con un enfoque en componentes y binding de datos.  </div>
  <div class="level-info" id="level-2">
    Desarrollo de habilidades para manejar servicios, rutas, formularios y comunicación entre componentes, además del consumo de APIs y el uso de directivas y pipes para manipular y transformar datos.  </div>
  <div class="level-info" id="level-3">
    Aplicación de técnicas avanzadas para la gestión del estado, testing, optimización del rendimiento, autenticación y despliegue, así como la actualización y migración de aplicaciones Angular existentes.  </div>
</div>
