<div class="background"></div>

<div class="container">
  <h1>Bienvenido al Tutorial de Angular</h1>
  <p>Elige tu nivel:</p>

  <ul>
    <li (mouseenter)="showDescription(1)" (mouseleave)="hideDescription()">
      <a routerLink="/intro/1">Principiante (Introducción)</a>
    </li>
    <li (mouseenter)="showDescription(2)" (mouseleave)="hideDescription()">
      <a routerLink="/tutorial/1">Intermedio (Tutorial)</a>
    </li>
    <li (mouseenter)="showDescription(3)" (mouseleave)="hideDescription()">
      <a routerLink="/ejemplos/1">Experto (Ejemplos)</a>
    </li>
  </ul>

  <!-- Descripción de los niveles -->
  <div class="level-info" id="level-1">
    Este es el nivel principiante donde aprenderás los conceptos básicos de Angular.
  </div>
  <div class="level-info" id="level-2">
    En este nivel intermedio profundizarás más en el uso de Angular para proyectos reales.
  </div>
  <div class="level-info" id="level-3">
    Aquí aprenderás técnicas avanzadas y ejemplos prácticos de Angular.
  </div>
</div>
